.drawer {
  position: fixed;
  z-index: $zindex-fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  min-width: $drawer-min-width;
  width: $drawer-max-width;
  max-width: 90vmin;
  height: 100%;
  padding: $spacer 0;
  background-color: $white;
  border-right: 1px solid rgba(128, 128, 128, 0.5);
  box-shadow: $box-shadow-sm;
  transition: 0.25s 0s cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: width;
  will-change: width;
  -webkit-overflow-scrolling: touch;

  &--mini {
    width: $drawer-min-width;
    box-shadow: none;
  }

  &__btn {
    padding: $nav-link-padding-y 0;
    cursor: pointer;
    color: $gray-500;
    transition: 0.4s 0s linear;
    transition-property: transform, opacity;
    will-change: transform, opacity;

    &.fade {
      transform: rotate(0deg) scale(0);

      &.show {
        transform: rotate(360deg) scale(1);
      }
    }

    @include hover-focus {
      color: $gray-700;
      background-color: $gray-100;
    }
  }

  &__icon {
    display: block;
    box-sizing: content-box;
    width: $drawer-icon-size;
    min-width: $drawer-icon-size;
    height: $drawer-icon-size;
    margin: 0 $drawer-icon-gutter;
    font-size: $drawer-icon-size;
    font-weight: 100;
  }

  .nav {
    flex-wrap: nowrap;
    height: 100%;
  }

  .nav-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: ($btn-line-height + 2 * $nav-link-padding-y);
    padding-left: 0;
    color: $gray-700;
    border: none;
    border-radius: 0;

    &:focus {
      color: $link-hover-color;
    }

    &:hover:not(.active) {
      color: $white;
      background-color: rgba($nav-pills-link-active-bg, 0.7);
    }
  }

  .dropdown-item {
    padding-left: $drawer-min-width;
  }
}
