{# <div class="lazyload"
     data-carousel-lazy="https://picsum.photos/600/450?image={{ random(1..99) }}"></div>

<div class="p-5">
    {{ icon(k[i] ~ ' wow zoomIn', {'data-wow-delay': '.5s'}) }}
</div> #}

<div class="carousel-caption d-none d-md-block">
    <h5>Slide 0</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
</div>
