{% extends 'layout.twig' %}

{% block content %}
    <div class="container">
        <h1>DAks PHP</h1>
    </div>

    <div class="container pt-5">
        {% set n = 10 %}
        <div class="row">
            {% for i in 0..n %}
                <div class="col-4 mb-4">
                    <p>* {{ i }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
