<!DOCTYPE html>

<html lang="ru"
      itemscope
      itemtype="http://schema.org/WebPage">

<head>
{% htmlcompress %}
{% include 'components/head.twig' %}
{% endhtmlcompress %}
</head>

<body>
{% htmlcompress %}
{% include 'components/carousel.twig' %}

<main itemprop="mainContentOfPage">
{{ block('content') }}
</main>

{% include 'components/header.twig' %}
{% include 'components/drawer.twig' %}
{% include 'components/footer.twig' %}
{% include 'components/mail.twig' %}
{% include 'components/flash.twig' %}
{# include 'components/scroll_sign.twig' #}

{#
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
#}
<script src="/assets/{{ manifest['app.js'] }}"></script>
{% endhtmlcompress %}
