<footer class="pro-footer">
    <div class="container">
        <div>
            some footer content
            {{ icon('arrow_upward mr-3', {'data-scroll-to': '#'}) }}
        </div>
    </div>
</footer>
