<header class="header">
    <div class="btn btn-link"
         data-toggle="modal"
         data-target=".modal-mail"
    >{{ icon('mail_outline') }}</div>

    <a class="btn btn-link"
       href="tel://+77777777777"><small>+7 (777)</small> 777-77-77</a>
</header>
