<div class="modal-mail modal fade"
     role="dialog"
     tabindex="-1"
     aria-labelledby="modal-mail-label"
     aria-hidden="true"
>
    <div class="modal-dialog"
         role="document"
    >
        <form id="modal-mail__form"
              class="modal-content"
              action="mail.php">
            <input type="hidden"
                   value="{{ csrf }}"
                   name="csrf">
            <div class="modal-header">
                <h5 id="modal-mail-label"
                    class="modal-title"
                >Отправить сообщение</h5>
                <button class="close"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close"
                ><span aria-hidden="true">&times;</span></button>
            </div>

            <div class="modal-body">
                <div class="form-group pt-2">
                    <label class="col-form-label sr-only"
                           for="recipient-name"
                    >Электронный адрес:</label>
                    <input id="modal-mail__form-email"
                           class="form-control"
                           type="email"
                           placeholder="Электронный адрес"
                           value="aaa@bbb.ccc"
                           name="email">
                    <small class="form-text text-muted text-right">корректный электронный адрес</small>
                </div>
                <div class="form-group">
                    <label class="col-form-label sr-only"
                           for="modal-mail__form-message"
                    >Сообщение:</label>
                    <textarea id="modal-mail__form-message"
                              class="form-control"
                              rows=4
                              placeholder="Сообщение"
                              name="message">1234567</textarea>
                    <small class="form-text text-muted text-right">от 3 до 256 символов</small>
                </div>
                <div class="form-group form-check">
                    <input id="modal-mail__check"
                           class="form-check-input"
                           type="checkbox"
                           checked="checked"
                           name="check">
                    <label class="form-check-label"
                           for="modal-mail__check">Согласие</label>
                    <small class="form-text text-muted">на предоставление персональных данных</small>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary"
                        type="button"
                        data-dismiss="modal"
                >Закрыть</button>
                {{ icon('loop icon--loading') }}
                <button class="btn btn-primary"
                       type="button"
                       name="submit"
                >Отправить</button>
            </div>
        </form>
    </div>
</div>
