body {
  position: relative;
}

.container {
  padding-left: calc(#{$grid-gutter-width} / 2 + #{$drawer-min-width} / 2);

  @include media-breakpoint-down(xs) {
    padding-left: calc(#{$grid-gutter-width} / 2 + #{$drawer-min-width});
  }
}

